@model MasterDetails.Models.Skills

@{
    ViewData["Title"] = "Create";
}

<h1 class="alert alert-info">Add Skills</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SkillsName" class="control-label"></label>
                <input asp-for="SkillsName" class="form-control" />
                <span asp-validation-for="SkillsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary mt-2 mb-5" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="text-decoration-none mt-5" asp-action="Index"><i class="fa fa-arrow-left"></i>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
